<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yiwoo.prototype.gabobell">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Bluetooth 및 위치 권한 (Android 12 미만) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--  백그라운드 위치 권한  -->
    <!--  지속적으로 위치를 추적해야할 경우 -> ACCESS_BACKGROUND_LOCATION   -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--  앱에 위치 정보를 한 번만 또는 정의된 시간 동안 공유 -> FOREGROUND_SERVICE_LOCATION  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- Bluetooth 관련 권한 (Android 12 이상) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <!--  재부팅시 서비스 실행  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".GaboApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GaboBell"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".ui.ReportActivity"
            android:exported="true"
            android:label="Report Activity" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ReportDetailActivity"
            android:exported="true"
            android:label="Report Detail Activity" />

        <activity
            android:name=".ui.RegisterDeviceActivity"
            android:exported="true"
            android:label="Register Device Activity" />

        <activity
            android:name=".ui.DeviceSettingsActivity"
            android:exported="true"
            android:label="Device Settings Activity" />

        <activity
            android:name=".ui.MediaCaptureActivity"
            android:exported="true"
            android:label="Device Media Capture" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.SignInActivity"
            android:exported="true" />

        <activity
            android:name=".ui.MembershipActivity"
            android:exported="true" />

        <activity
            android:name=".ui.MonitoringActivity"
            android:exported="true" />

        <activity
            android:name=".ui.searchAddress.SearchAddressActivity"
            android:exported="true" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao2ec0ef7ff1549353fb1a5a9d4ac4b0ea" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helper.SettingsReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ble.BleManager"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice|location" />
                <receiver android:name=".ble.CommonReceiver"
                    android:enabled="true"
                    android:exported="false">
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED"/>
                    </intent-filter>
                </receiver>
    </application>

</manifest>