<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth 및 위치 권한 (Android 12 미만) -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Bluetooth 관련 권한 (Android 12 이상) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GaboBell"
        tools:targetApi="31">

        <activity
            android:name=".ui.ReportActivity"
            android:exported="true"
            android:label="Report Activity">
        </activity>

        <activity
            android:name=".ui.ReportDetailActivity"
            android:exported="true"
            android:label="Report Detail Activity">
        </activity>

        <activity
            android:name=".ui.RegisterDeviceActivity"
            android:exported="true"
            android:label="Register Device Activity">
        </activity>

        <activity
            android:name=".ui.DeviceSettingsActivity"
            android:exported="true"
            android:label="Device Settings Activity">
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ble.BleManager" android:foregroundServiceType="connectedDevice" android:enabled="true"/>
<!--        <receiver android:name=".helper.BroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>